body{
    background-image: url(fondo_ma.jpg);
    background: repeat no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;

    header{
        #menu{
            display: none;
        }
        .bloque_1{
            background-color: rgb(125, 246, 255);
            h1{
                text-align: center;
            }
        }
    }

    aside{
        .bloque_mimi{
            background-color: bisque;
            width: 93vh;
            height: 79vh;
            position: relative;
            left: 2%;
            #mimi{
                text-align: center;
            }
            img{
                width: 100px;
                height: 100px;
                position: relative;
                left: 5%;
            }
        }
    }

    main{
        .bloque_jack{
            position: relative;
            left: 51%;
            top: -81vh;
            background-color: bisque;
            width: 93vh;
            height: 79vh;
            h2{
                text-align: center;
            }
        }
    }
}