body{
    border: 5px solid;
    color: gray;
    min-height: 95vh;
    margin: 10px;
    box-sizing: border-box;
}

.bloque_azul{
    background-color:  cornflowerblue;
    width: 95.5vw;
    height: 100%;
    position: relative;
}
header{
    color:black ;
    font-size: 5vh;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 9%;
}

.bloque_2{
    background-color: antiquewhite;
    width: 95.5vw;
    height: 100%;
    position: relative;
}
nav{
    color: black;
    font-size: 3vh;
    text-align: center;
    transform: translate(-50%,-50%);
    top: 18%;
    left: 50%;
    position: absolute;
}

.bloque_3{
    background-color: aquamarine;
    width: 31vw;
    height: 27vw;
    position: relative;
    margin-left: 12vh;
    margin-right: 12vh;
}
aside{
    color: black;
    font-size: 3vh;
    text-align: center;
    transform: translate(-50%,-50%);
    top: 47.3%;
    left: 17.7%;
    position: absolute;
}
#parrafo{
    margin-left: 6px;
    margin-right: 6px;
    font-size: 2.5vh;
}

.bloque_4{
    background-color: violet;
    width: 63.5vw;
    height: 27vw;
    position: relative;
}
main{
    color: black;
    font-size: 2vh;
    text-align: center;
    transform: translate(-50%,-50%);
    top: 48%;
    left: 66%;
    position: absolute;
}
.imagen_1{
    position: relative;
}
.imagen_1 img{
    width: 25%;
    position: absolute;
    left: 10%;
    border-radius: 5px;
}

.bloque_5{
    background-color: gold;
    width: 95.6vw;
    height: 16vh;
    position: relative;
}
footer{
    position: absolute;
    color: black;
    font-size: 3vh;
    text-align: center;
    transform: translate(-50%,-50%);
    top: 83%;
    left: 50%;
}