.area_monitor{
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin: -9px;
    border: 2px solid white;

    background-color: brown ;
    border-radius: 10px;
    padding: 5px;
    
    display: flex;
    justify-self: center;
    align-items: center;
}
.area_monitor img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    filter: sepia(0.3) contrast(1.1);
    border-radius: 2%;
}
.log-status{
    text-align: center;
    color: beige;
    font-family: 'courier new', monospace;
    font-size: 14px;
    margin-top: 10px;
}

.texto-encima{
    position: absolute;
    top: 40px;
    left: 50px;
    transform: translate(-50%,-50%);

    color: white;
    font-family: 'Courier New', monospace;
    font-size: 40px;
    font-weight: bold;
}
.segundo{
    position: absolute;
    top: 87px;
    left: 180px;
    transform: translate(-50%,-50%);

    color: white;
    font-family: 'Courier New', monospace;
    font-size: 80px;
    font-weight: bold;
}
.tercero{
    position: absolute;
    top: 143px;
    left: 181px;
    transform: translate(-50%,-50%);

    color: white;
    font-family: 'Courier New', monospace;
    font-size: 40px;
    font-weight: bold;
}
html body{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    margin: 0;
}
body{
    background-image: url(marte.png);
    background: repeat no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}
.punto{
    position: fixed;
    bottom: 50%;
    right: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    z-index: 1000;
}
.punto img{
    width: 20px;
    height: auto;
}
.bloque_1{
    position: relative;
    width: 31vw;
    height: 27vw;
}
aside{
    position: absolute;
    text-align: center;
    font-size: 3vh;
    top: 35%;
    left: 5%;
    color: white;
}
#parrafo{
    font-size: 3vh;
    color: white;
}
.rodaje_borde{
    border: 5px solid;
    border-color: brown;
    border-radius: 5px;
}
iframe{
    width: 100%;
    height: 100%;
}

.bloque_3{
    width: 63.5vw;
    height: 27vw;
    position: relative;
}
main{
    position: absolute;
    text-align: center;
    top: 48%;
    left: 40%;
    color: white;
}

.borde_img{
    position: relative;
    background-color: brown;
    border-radius: 5px;

    padding: 5px;
    width: 50%;
    overflow: hidden;

    display: block;
    justify-self: center;
    align-items: center;
    left: 25%;
}
.imagen_hover{
    background-image: url(escena1.5.jpeg);
    background-size: cover;
    background-position: center;
}
.borde_img img{
    width: 100%;
    top: 100%;
    left: 100%;
    object-fit: cover;
    filter: sepia(0.3) contrast(1.1);
    border-radius: 5px;
}
.borde_img:hover img{
    opacity: 0;
}

.borde_2{
    position: relative;
    background-color: brown;
    border-radius: 5px;

    padding: 5px;
    margin: -px;
    width: 50%;
    overflow: hidden;

    display: block;
    justify-self: center;
    align-items: center;
    top: 10px;
    left: 25%;
}
.imagen_2 img{
    width: 100%;
    top: 100%;
    left: 100%;
    object-fit: cover;
    filter: sepia(0.3) contrast(1.1);
    border-radius: 5px;
}

.imagen_2{
    background-image: url(escena2.5.jpeg);
    background-size: cover;
    background-position: center;
}
.borde_2:hover img{
    opacity: 0;
}
.borde_3{
    position: relative;
    background-color: brown;
    border-radius: 5px;

    padding: 5px;
    margin: -px;
    width: 50%;
    overflow: hidden;

    display: block;
    justify-self: center;
    align-items: center;
    top: 20px;
    left: 25%;
}
.imagen_3 img{
    width: 100%;
    top: 100%;
    left: 100%;
    object-fit: cover;
    filter: sepia(0.3) contrast(1.1);
    border-radius: 5px;
}

.imagen_3{
    background-image: url(escena3.5.jpeg);
    background-size: cover;
    background-position: center;
}
.borde_3:hover img{
    opacity: 0;
}

.bloque_5{
    width: 95vw;
    height: 16vh;
    position: relative;
}
footer{
    position: absolute;
    text-align: center;
    top: 140vh;
    left: 3px;
    color: white;
}